@import '../../assets/styles/app.scss';
.text{
    background-image: $buttonBg;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}