@import "../../assets/styles/app.scss";
.text-logo{
    background-image: $buttonBg;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}
.btn{
    height: 2.5rem;
    width: 80%;
    align-self: center;
}